* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

button {
    padding: 12px;
    border-radius: 5px;
    border: none;
    font-weight: 900;
    font-size: 1rem;
}

img {
    border-radius: 1rem;
}

.center-text {
    text-align: center;
}

.primary-button {
    background-color: #A400FF;
    color: white;
}

.primary-button:hover {
    background-color: #8C00DB;
}

.secondary-button {
    background-color: white;
    border: 2px solid #D7D9DE;
}

.secondary-button:hover {
    background-color: #F1F2F4;
}

.header {
    box-shadow: 0 -3px 10px 0.2px gray;
    padding: 4px 8px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    
    /* part that makes the header stay at the top */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 20;
}

.header .left {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header .item, .header .button-item {
    padding: 1rem;
    background-color: white;
}

.header .item:hover {
    background-color: #F1F2F4;
    border-radius: 10%;
}

.header .right {
    display: flex;
    gap: 1px;
    align-items: center;
    justify-content: center;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
    padding: 36px;
    text-align: center;
}

.hero .main {
    font-size: 64px;
    font-weight: 900;
}

.hero .sub {
    color: grey;
    font-size: 24px;
}

.hero .cards {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}
.card img {
    width: 12rem;
    transition: 0.5s;
}
.hero .cards .card img:hover {
    transform: scale(1.1);
}

.hero-gradient {
    background-image: linear-gradient(90deg, #17A3D4, #8300E6);
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.subscriptions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

.head {
    font-size: 2em;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subscriptions .subs {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

.subscriptions .sub {
    display: flex;
    flex-direction: column;
    background-color: #F3E5FF;
    padding: 1rem;
    min-width: 200px;
    max-width: 400px;
    border-radius: 1rem;
    align-items: start;
    gap: 2rem;
    flex: 1;
    justify-content: space-between;
}

.sub .action {
    width: 100%;
}

.action button {
    width: 100%;
}

.sub .sub-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.sub-top .for {
    background-color: white;
    font-size: .8rem;
    border-radius: 1em;
    padding: 0 .5em;
}

.sub-top .icon{
    background-color: white;
    padding: 5px;
    border-radius: 100%;
}

.sub-top .hidden-icon {
    visibility: hidden;
}

.sub .sub-name {
    font-size: 1.5rem;
    font-weight: 900;
}

.sub .desc {
    color: #2C3035;
}


.link {
    text-decoration: underline;
    color: #A400FF;
}

.companies {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

/* .head was styled above (under subscription section) */

.companies .banner {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;

}

.fade-container .fade {
    position: relative;
    top: -8.25rem;
    height: 100px;
    background: linear-gradient(to right, white, transparent 20%), linear-gradient(to left, white, transparent 20%);
}


/* .link was styled above (under subscriptions section) */

.split {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.split .left, .split .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.split .secondary-button {
    flex: 0;
}

.split img {
    width: 100%;
}

.split .head {
    /* the rest of the styles were declared above */
    justify-content: start;
}

.sub {
    font-size: 1.2rem;
}


.templates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.templates .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.cards .column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.templates .button {
    margin-top: 4rem;
}

.teams .split .right {
    align-items: start;
} 

.right .item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .2rem;
}

.right .item .sub {
    text-align: start;
}

.bold {
    font-weight: 900;
}

.surprises {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    padding: 2rem;
}

.surprises .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem;
}

.cards .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: .5rem;
    max-width: 40ch;
}

.card .main {
    font-size: 1rem;
    font-weight: 900;
}

.card .sub {
    font-size: 0.9rem;
    color: #2C3035;
}

.card .image img{
    min-width: 280px;
}

.get-started {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #0D1116;
    padding: 5rem;
}

.get-started .main {
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

.purple {
    color: #8300E6;
}

.footer {
    display: flex;
    gap: 2rem;
    padding: 2rem;
}

.footer > * {
    flex: 1;
}

.footer li {
    list-style: none;
    margin-bottom: .8rem;
    color: #2C3035;
}

.footer .main {
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .9rem;
}


@media (min-width: 700px)
{
    .split {
        flex-direction: row;
    }
}